<!DOCTYPE html>
<html>
<body>
    <br>
      <iframe style="border:1px solid red;"
            width="1215" height="500"  src="https://app.powerbi.com/reportEmbed?reportId=15439d4a-40b7-4ee2-9d0a-bab0c48dadaf&autoAuth=true&ctid=a27f6b6b-dc28-48c2-a138-ddf0f11455f1&filterPaneEnabled=false" title="Power BI"></iframe>

</body>
</html>