@{
    ViewBag.Title = "FulfillmentReview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Talento2.css" rel="stylesheet" />
<style>
    #chkIsBothAddressesSame {
        position: relative;
        right: 572px;
        background-color: white;
        border: white;
        float: right;
        color: #004BBB;
        border: 1px solid #004BBB;
        border-radius: 6px;
        padding: 6px 25px;
    }
    #text {
        font-family: 'Readex Pro';
        color: black;
        margin-left: 43px;
    }
    .HRRF_custom .subpage_header {
        width: 1250px;
    }
    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-left: 17px;
        margin-top: 20px;
    }
</style>
<div class="subpage_header page-header nomargin-top">
    <p id="txt">
        FULFILLMENT REVIEW
    </p>

</div>
<div>
    <b id="text">
        You can download, Practice wise headcount of different resource classifications like Billable, Shadow, Management by clicking on the image below.
    </b>

</div>
<br />
<div style="text-align: center;">
    <button id="chkIsBothAddressesSame" type="button" style="position: relative; background-color: white; border: white; float: right; color: #004BBB; border: 1px solid #004BBB; border-radius: 6px; padding: 6px 25px;">
        <img src="~/Content/images/Report_icon.svg" /> Export <span class="caret"></span>
        @*<img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: 11px;left: 17px;position:relative;" alt="xlmsimg">*@
    </button>

    
</div>
<style>
    .questionlogo1 {
        margin-left: 476px;
        margin-top: -9px;
    }

    .onlinebtn {
        margin-left: 434px;
        position: relative;
        top: 26px;
    }
</style>
@*<div class="col-md-3 col-sm-12 padding-right pull-right">
        <button id="chkIsBothAddressesSame" type="button" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> Export to Excel</button>
        <button id="btnProcessing" type="button" class="btn btn-default pull-right" style="margin-top: -8px;" disabled><i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Downloading...</button>
    </div>*@
<div>

</div>


<br />
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnProcessing").hide();
        //GetSkillSetbySkillCategory();


    });

    @*$('#chkIsBothAddressesSame').click(function () {
        var downloadurl = '@Url.Content("~/ResourceDashBoard/DownLoadReport")';

        //window.open(downloadurl, "target=_blank");
        window.location = downloadurl;
    });*@


    $('#chkIsBothAddressesSame').click(function () {
        debugger;
       //$(this).hide();
        $("#btnProcessing").show();
        //debugger
       // var Skillcategory = ($('#ddlSkillCategoryList').length > 0) ? $('#ddlSkillCategoryList').val() : "";


        $.ajax({
            url: "@Url.Action("ExportReport", "Competency")",
            //data: { Skills: Skillcategory },
            type: "POST",
            datatype: "JSON",
            cache: false,
            success: function (response) {
                if (response == "success") {
                    window.location = "@Url.Action("DownLoadReport", "ResourceDashBoard")" ;

                    setTimeout(function () {
                        $("#chkIsBothAddressesSame").show();
                        $("#btnProcessing").hide();
                    }, 10000);
                }
                else if (response == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }
            },
            error: function (error) {
                alert(error.statusText);
            }
        });
    });

</script>