@model IEnumerable<Trianz.Enterprise.Operations.Models.ChartData>

@{var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 5,
                                selectionFieldName: "SelectedRow");
}


<div class="col-md-12 nopadding">
    <div id="rInfogridcontent" class="table table-responsive">
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
        fillEmptyRows: false,
        //headerStyle: "table",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        htmlAttributes: new { id = "DashboardGrid" },
        columns: grid.Columns(
          grid.Column("HRRFNumber", "TR NO"),
          grid.Column("JobDescription", "Demand Description"),
          grid.Column("Practice", "Practice")

    ))
    </div>
</div>
