@model System.Web.Mvc.HandleErrorInfo

@{
        ViewBag.Title = "Error";

        // Get stack trace for the exception with source file information
        var st = new System.Diagnostics.StackTrace(Model.Exception, true);
        // Get the top stack frame
        var frame = st.GetFrame(0);
        // Get the line number from the stack frame
        var line = frame.GetFileLineNumber();
    }

    <table class="table table-bordered">
        <thead>
            <tr>
                <td colspan="2">
                    <i class="fa fa-bug fa-3x text-danger" aria-hidden="true">&nbsp; <span style='font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;'> Exception</span></i>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Controller</b></td>
                <td class="text-primary">@Model.ControllerName</td>
            </tr>
            <tr>
                <td><b>Action</b></td>
                <td class="text-primary">@Model.ActionName</td>
            </tr>
            <tr>
                <td><b>Message</b></td>
                <td class="text-danger">@Model.Exception.Message at line number @line</td>
            </tr>
        </tbody>
    </table>


