@model IEnumerable<Trianz.Enterprise.Operations.Models.TRHistory>
@{
    var Historygrid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
selectionFieldName: "SelectedRow");

}



<div class="clear-both"></div>
<div class="col-md-12 nopadding" style="position:relative;bottom:50px !important;">
    <div style="margin-top:69px;" @*class="subpage_header page-header nomargin-top"*@>

        @*<div>
            <b><u id="history" style="font-size:20px; color:#0070C1;cursor:pointer;position:relative;left: 8px;"> TR History</u></b>
        </div>*@

     
    </div>
    @*<script>
            $(document).ready(function () {
                debugger
                //$("#historygridcontent").hide();

                //$("#hideHistory").click(function () {

                //    $("#historygridcontent").show();
                //});

            }

        </script>*@




    @*TR History*@
    @*<div class="row1">
        <div class="col-md-12 nopadding">
            <div id="historygridcontent" class="table table-responsive">

                @Historygrid.GetHtml(tableStyle: "table table-bordered table-responsive table-hover", headerStyle:"header", columns:
                                         Historygrid.Columns
                                         (
                                             Historygrid.Column("ModifiedDate", "Date", style: "date"),
                                             Historygrid.Column("HistoryDescription", "Description", style: "desc"),
                                             Historygrid.Column("Remarks", "Remarks"),
                                             Historygrid.Column("ModifiedEmpName", "Modified By")


                                         ), mode: WebGridPagerModes.Numeric, htmlAttributes: new { @class = "table table-striped p-resources", id="hrrfhistory1" })
            </div>
        </div>
    </div>*@
</div>


<script>
   
    //$(document).ready(function () {
    //    $("#historygridcontent").show();
        
    //});

</script>