@model IEnumerable<Trianz.Enterprise.Operations.Models.Notifications>

@{
    // ViewBag.Title = "Index";
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
    selectionFieldName: "SelectedRow");

    grid.Pager(WebGridPagerModes.All);
}
<div class="col-md-12 nopadding">
    <h3>TimeSheet Request Notifications</h3>
    <div id=" gridcontent" class="table table-responsive">
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
        fillEmptyRows: false,
        //headerStyle: "table",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        htmlAttributes: new { id = "NotificationGrid" },
        columns: grid.Columns(
            @*grid.Column(columnName: "HRRF", header: "HRRF", format: @<text>@Html.ActionLink((string)item.HRRFNumber, "ProposeAssociate", "ProposeAssociate", new { id = item.HRRFNumber, hrrfno = item.HRRFNumber }, new { id = "btnEditClick", @class = "edit" })</text>),*@
          //grid.Column("NotificationType", "Notification Type"),
          //grid.Column("Practice", "Practice"),
          grid.Column("NotificationFrom", "Request From"),
          //grid.Column("NotificationTo", "Request To"),
          grid.Column("NotificationMessage", "Message"),
          grid.Column("AssetID", "AssetID"),
          @*grid.Column(columnName: "NotificationType", header: "Action", format: @<text>@Html.ActionLink((string)item.NotificationType, "Create", "Notifications", new { id = item.NotificationType }, null)</text>)*@
             grid.Column(format: @<input type="button" class=".btn-success" value="Approve" />),
            grid.Column(format: @<input type="button"  class=".btn-warning" value="Reject" />))
    // grid.Column("LocationType", "Location"),
    //grid.Column("NotificationType", "NotificationType")
    ))
    </div>
</div>