
@model  IEnumerable<Trianz.Enterprise.Operations.ViewModel.TeamTrackViewModel>


@{
    ViewBag.Title = "TeamTrack";
}
<style type="text/css">
    .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
   width:800px;
    height:400px;
}
#tableTrackHistory th{
    background-color:#248CC8 !important;
    table-layout: fixed;
    width: 850px;
}

    .tblwidth {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
       
    }

    .trackdatatd {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
    .clear-both{
        padding-top: 15px !important;
    }
</style>
   
<div class="col-md-12">
    <div class="subpage_header page-header nomargin-top" >
        <div class="text-left pull-left myskills_div">
            <p>Team Track Details</p>
        </div>

        <div class="text-left pull-left myskills_div" style="margin-left:10px;">
            @Html.DropDownList("ddlPractice", new SelectList((System.Collections.IEnumerable)ViewData["Practilist"], "Practice", "Practice"), "--Practice--", new { @class = "form-control track", @width = "100px"}) 

        </div>

        <div class="text-left pull-left myskills_div" style="margin-left:10px;">
            @Html.DropDownList("ddlProject", new SelectList((System.Collections.IEnumerable)ViewData["ProjectList"], "ProjectCode", "ProjectName"), "--Project--", new { @class = "form-control" })
        </div>
        <div class="pull-right text-right myskills_div">

            <button id="btnTrackReportExportToExcel" type="button" class="btn btn-primary pull-right" style="margin-top: -8px;" onclick="DownloadTrackData()"><i class="glyphicon glyphicon-download-alt" aria-hidden="true" ></i> Export to Excel</button>
          </div>
        <div class="clear-both" style="margin-top:10px;"></div>
    </div>
</div>
<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet">
@*<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>*@

<script type="text/javascript" src="/path/to/jquery.tablesorter.js"></script> 
<div id="divTrackpartialview" style="margin-top:10px;">
@if (Model != null)

    {
   @Html.Partial("_GetTrackTablebyPractice")
    }
</div>
