<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <appSettings>
    <add key="spissuer" value="" />
    <add key="acsurl" value="" />
    <add key="ssourl" value="" />
    <add key="idp_issuer" value="" />
    <add key="base_url" value="" />
    <add key="spslourl" value="" />
    <add key="idpslourl" value="" />
    <add key="idp_cert" value="" />
    <add key="http-redirect" value="" />
    <add key="http-post" value="" />
    <add key="logout-http-redirect" value="" />
    <add key="logout-http-post" value="" />
    <add key="nameid" value="" />
    <add key="email" value="" />
    <add key="firstname" value="" />
    <add key="lastname" value="" />
    <add key="miniOrange_sp_certificate" value="" />
    <add key="autoredirect" value="" />
    <add key="signedloginreq" value="" />
    <add key="signedlogoutreq" value="" />
    <add key="custom_attributes" value="" />
    <add key="app_endpoint_after_login" value="" />
    <add key="app_endpoint_after_logout" value="" />
    <add key="customized_sso_url" value="" />
    <add key="customized_slo_url" value="" />
    <add key="userid" value="" />
    <add key="password" value="" />
    <add key="mo_saml_host_name" value="" />
    <add key="admin_customer_key" value="" />
    <add key="admin_api_key" value="" />
    <add key="customer_token" value="" />
    <add key="excludedurls" value="" />
    <add key="sessattrprefix" value="" />
    <add key="sml_lk" value="" />
  </appSettings>
</configuration>