<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RoleManagement" value="PM,OM,DH,SM,Admin,RL,LDAdmin,CompetencyAdmin,Finance" />
    <add key="DefaultRole" value="User" />
    <add key="businessGroupId" value="103556,103627,103555" />
    <add key="ClusterMaster" value="101035,106833,103556,103627,103555,107895" />
    <add key="ÄpplicationName" value="TR-Operations" />
    <add key="skillstatus" value="Not Yet Approved" />
    
    <!--Tr related values-->
    <add key="TrEdited" value="This is to inform you that a Talent Request has been edited by" />
    <add key="TrSubmitted" value="This is to inform you that a Talent Request has been submitted by" />
    <add key="TrQualified" value="This is to inform you that Talent Request raised by you, has been qualified by " />
    <add key="TrQualified_By" value="This is to inform you that Talent Request has been Qualified by " />
    <add key="TrRequestedForMoreInfo" value="This is to inform you that Talent Request raised by you has been requested for more information." />
    <add key="TrRequestedForMoreInfo_BY" value="This is to inform you that Talent Request has been requested for more information by you." />
    <add key="TrConvertToExt" value="This is to inform you that Talent Request raised by you, has been converted to External fulfillment by " />
    <add key="TrConvertToExt_By" value="This is to inform you that Talent Request has been converted to External fulfillment by " />
    <add key="TrProposedExternalResources_By_RL" value="This is to inform you that External Hire TR status has been changed for" />
    <add key="TrProposedResources" value="This is to inform you that Resource(s) is/are  proposed for " />
    <add key="TrProposedResources_by" value="This is to inform you that Resource(s) is/are proposed by you for the " />
    <add key="TrAcceptedResources" value="This is to inform you that Resource is Accepted for " />
    <add key="TrAcceptedResources_by" value="This is to inform you that Resource is accepted by you for the " />
    <add key="TrRejectedResources" value="This is to inform you that Resource(s) is/are Rejected for " />
    <add key="TrRejectedResources_by" value="This is to inform you that Resource(s) is/are Rejected by you for the " />
    <add key="ExternalFullAccept" value="This is to inform you that the Talent Request has been Approved for External Fulfillment by " />
    <add key="ExternalFullReject" value="This is to inform you that the Talent Request for external fulfillment has been rejected by your Practice Head." />
    <add key="ChangeStatusByRL" value="This is to inform you that #TRXXXX has been updated with " />
    <add key="TRNUMber" value=" Talent Request number #" />
    <add key="EditedFields" value=" Edited Field/Fields: " />
    <add key="Remarks" value=" Remarks: " />
    <add key="ProposedResource" value="Proposed resource:" />
    <add key="Proposedto" value="This is inform you that you are proposed for the project and project is " />
    <add key="AcceptedResource" value=" Accepted resource: " />
    <add key="Acceptedto" value="This is inform you that you are Accepted for the project and project is " />
    <add key="RejectedResource" value=" Rejected resource:" />
    <add key="Acceptedto" value="This is inform you that you are Accepted for the project and project is " />
    <add key="TrEdited_NOtification" value="Edited" />
    <add key="TrSubmitted_NOtification" value="Submitted" />
    <add key="TrQualified_NOtification" value="TR Qualified" />
    <add key="TrRequestedFormoreInfo_NOtification" value="TR Requested for More Info" />
    <add key="TrConverttoExt_NOtification" value="TR Converted To External Fulfillment" />
    <add key="TrProposedExternalRes_NOtification" value="External TR has been Edited by " />
    <add key="TrProposedRes_NOtification" value="Resources Proposed" />
    <add key="TrProposedResAce_NOtification" value="Resources Accepted" />
    <add key="TrProposedResRej_NOtification" value="Resources Rejected" />
    <add key="TrExtFulfilRej_NOtification" value="Externalfulfillment Rejected" />
    <add key="TrExtFulfilAcep_NOtification" value="Externalfulfillment Accepted" />
    <add key="_Accept" value="Accepted" />
	<add key="AddNumberofBillingDatesClientInterview" value="90" />
	<add key="AddNumberofBillingDatesClientInterviewNo" value="60" />
	  <!-- Terminate -->
    <add key="TrTerminate" value="This is inform you that the Talent Request has been Cancelled" />
    <add key="TrTerminate_NOtification" value="TR Cancelled" />
    <!-- Ph and OM emp Idss-->
    <add key="ManagerId" value="101148" />
    <add key="PHId" value="101148" />
    <add key="OMRole" value="OM" />
    <add key="PHRole" value="PH" />
    <add key="RLRole" value="RL" />
    <!-- TR View Constants -->
    <add key="D_Recommend" value="Proposed" />
    <add key="P_Recommend" value="Proposed" />
    <add key="PraticeAccept" value="Accepted" />
    <add key="PraticeReject" value="Rejected" />
    <add key="DeliveryStatus" value="Accepted" />
    <add key="E_RequestType" value="External" />
    <add key="I_RequestType" value="Internal" />
    <add key="ExternalAccepted" value="Accepted" />
    <add key="ExternalRejected" value="Rejected" />
    <add key="PH_Accepted" value="Accepted" />
    <add key="PH_Rejected" value="ERejected" />
    <add key="AssignmentStatus" value="Assigned" />
    <add key="TR_Qualified" value="Qualified" />
    <add key="TR_Submitted" value="Submitted" />
    <add key="TR_RequestMoreInfo" value="Request More Info" />
    <add key="Role_OM" value="OM" />
    <add key="Role_PM" value="PM" />
    <add key="Role_DH" value="DH" />
    <add key="Role_SM" value="SM" />
    <add key="Role_DM" value="DM" />
    <add key="Role_LDAdmin" value="LDAdmin" />
    <add key="Role_CompetencyAdmin" value="CompetencyAdmin" />
    <add key="Role_Finance" value="Finance" />
    <add key="Role_RL" value="RL" />
    <add key="fulfilledStatus" value="Fulfilled" />
    <add key="ResumePendingStatus" value="Resume Pending" />
    <add key="TR_Terminate" value="Cancelled" />
    <add key="Skill_Approved" value="Approved" />
    <add key="Emp_status_Free" value="Free" />
    <add key="Emp_ResourceStatus" value="Deployable" />
    <!--Create TR/Edit TR related values-->
    <add key="TR_Submit" value="Submit" />
    <add key="TR_Submitted" value="Submitted" />
    <add key="TR_Save" value="Save" />
    <add key="TR_Draft" value="Draft" />
    <add key="TR_TerminateCheck" value="Cancel" />
    <add key="TR_CompanyCode" value="TR" />
    <add key="TR_Internal" value="Internal" />
    <add key="TR_Clear" value="Clear" />
    <!--TimeShhet related values-->
    <add key="_Approve" value="Accepted" />
    <add key="_Reject" value="Rejected" />
    <add key="TimesheetAppoveby" value="Timesheet approved by" />
    <add key="TimesheetRejectby" value="Rejected timesheet by" />
    <add key="rejectcomments" value="Rejection Comments - " />
    <add key="ApprovePrefix" value=" This is to inform you that the timesheet for the period " />
    <add key="ApproveSuffix" value=" has been approved by your Manager" />
    <add key="rejectSuffix" value=" has been rejected by your Manager" />
    <!-- AppCodes-->
    <add key="AppCodeTR" value="TALENTREQ" />
    <add key="AppCodeTimesheet" value="TIMESHEET" />
    <add key="AppcodeSkills" value="SKILLS" />
    <!-- Proposed Status-->
    <add key="App" value="Accepted" />
    <add key="Rej" value="Rejected" />
    <add key="Pro" value="Proposed" />
    <!-- Employee Tab start-->
    <!--PM Skill Approval-->
    <add key="SkillApprovalRequest_NotificationType" value="Skill Set is ready for Approval" />
    <add key="SkillApprovalRequest_Notification" value="This is inform you that skill approval request has been Submitted by " />
    <add key="Skill_AppCode" value="SKILLS" />
    <!-- Skill Approval for Employee-->
    <add key="SkillApprovalResponse_NotificationType" value="Skill Set has been" />
    <add key="SkillApprovalResponse_NotificationMsg" value="This is inform you that your skills has been " />
    <add key="PrimarySkills" value="PrimarySkills" />
    <add key="SecondarySkills" value="SecondarySkills" />
    <add key="SkillCategory" value="SkillCategory" />
    <add key="ExpFrom" value="ExpFrom" />
    <add key="Approved" value="Approved" />
    <add key="Rejected" value="Rejected" />
    <add key="Not Yet Approved" value="Not Yet Approved" />
    <!-- Employee Tab End-->
    <!-- Demand Status-->
    <add key="Fulfilled" value="Fulfilled" />
    <add key="Qualified" value="Qualified" />
    <add key="Submitted" value="Submitted" />
    <add key="Draft" value="Draft" />
    <add key="PendingForDHApproval" value="Pending For DH Approval" />
    <add key="PendingForPMApproval" value="Pending For PM Approval" />
    <!-- Request Type-->
    <add key="Internal" value="Internal" />
    <add key="ExternalCon" value="External-Contract" />
    <add key="ExternalConHire" value="External-Contract to Hire" />
    <add key="ExternalRecruit" value="External-Recruit" />
    <!-- Newly Added-->
    <add key="All_Releasedates" value="All" />
    <add key="Before_Releasedates" value="Before" />
    <add key="After_Relasedates" value="After" />
    <add key="SubmittedStatus" value="Submitted" />
    <!-- Newly Added-->
    <!-- Productction URL-->
    <add key="Talento" value="https://talento.trianz.com/" />
    <add key="ITS-OPS" value="" />
    <add key="Assurance" value="102286,104068" />
    <add key="CreateTR-RL" value="102342,102536,103422,103467,103886,103212,107895" />
    <add key="Mail-RL" value="103857,102536,102342,103422,103212" />
    <add key="OnlyTRVisibleEmployee" value="105877" />
    <add key="ClusterLeadview" value="1" />
    <add key="clustermanager" value="101035" />
    <!--newly for trnum req-->
    <add key="Percentage" value="40"/>
    <!--newly for trnum req-->

    <!-- Email Notification-->
    <add key="IsEmailSent" value="true" />
    <add key="GetLookupService" value="http://172.16.0.220/EnterpriseServices/MasterLookupService/MasterLookupService.svc" />
    <add key="GetEmployeeService" value="http://172.16.0.220/EnterpriseServices/EmployeeService/EmployeeService.svc" />
    <add key="EmployeeURL" value="http://172.16.0.220/EnterpriseServices/EmployeeService/EmployeeService.svc/enterprise/employee/101148" />
    <add key="NumberingCliURL" value="http://172.16.0.220/EnterpriseServices/NumberingService/NumberingService.svc" />
    <add key="HRRFCliUrl" value="http://172.16.0.220/EnterpriseServices/HRRFService/HRRFService.svc" />
    <add key="HRRFNumberingCliUrl" value="http://172.16.0.220/EnterpriseServices/NumberingService/NumberingService.svc" />
    <add key="NotificationCliUrl" value="http://172.16.0.220/EnterpriseServices/NotificationService/NotificationService.svc" />
    <add key="GetOpportunityByNameorCode" value="https://crm.trianz.com/" />
    <add key="ActiveAssignmentDownload" value="104357,103437,102517,103115,103150" />
    <add key="RiseTeam" value="103627,104462,103454,105877" />
    <add key="OpsStatus" value="103164" />
    <add key="OnSiteCountryName" value="SINGAPORE" />
    <add key="OnsiteEmployeeId" value="105009,105977" />
    <add key="ITSDashboardViewers" value="105207,104662,103164,105877,106833,107895,108432,101035,107510,107077,102342" />
    <add key="DHAndRLRoleUsers" value="105977,106833" />
    <add key="ClientId" value="a3dabb15-0503-4c02-a2f5-b2ea34cbd162" />
    <add key="Tenant" value="a27f6b6b-dc28-48c2-a138-ddf0f11455f1" />
    <add key="Authority" value="https://login.microsoftonline.com/{0}/v2.0" />
    <add key="redirectUri" value="https://localhost:44322/" />


    <add key="PortNo" value="587" />
    <add key="HostNo" value="smtp.office365.com" />
    <add key="awssmtpUser" value="internalaudit@trianz.com" />
    <add key="awssmtpPass" value="Bup15052023" />
   <!-- <add key="awssmtpPass" value="Bup31012023" />-->
    <add key="EmailFrom" value="internalaudit@trianz.com" />

    <add key="TRRestricted" value="107915,107118,107884,107884,104662" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" />
    <customErrors mode="Off" redirectMode="ResponseRedirect" defaultRedirect="~/Shared/Error.cshtml?">
      <error statusCode="401" redirect="~/Error/NotAuthorized" />
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <!--<authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>-->
    <sessionState timeout="20" />
    
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- <add name="TZ_CorporateOperationsEntities" connectionString="metadata=res://*/Models.TZ_CorporateOperations.csdl|res://*/Models.TZ_CorporateOperations.ssdl|res://*/Models.TZ_CorporateOperations.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Ramana.Bandla\Documents\TZ_CorporateOperations.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TrianzCorporateOperationsEntities" connectionString="metadata=res://*/Models.TrianzCorporateOperations.csdl|res://*/Models.TrianzCorporateOperations.ssdl|res://*/Models.TrianzCorporateOperations.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.144;initial catalog=TZ_CorporateOperations;user id=tz_co_user;password=Passw0rd1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TrianzOperationsEntities" connectionString="metadata=res://*/Models.TrianzOperations.csdl|res://*/Models.TrianzOperations.ssdl|res://*/Models.TrianzOperations.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.144;initial catalog=TZ_CorporateOperations_Prod;user id=tz_appprod_user;password=Passw0rd1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TrianzOperationsEntities" connectionString="metadata=res://*/Models.TrianzOperationsEntities.csdl|res://*/Models.TrianzOperationsEntities.ssdl|res://*/Models.TrianzOperationsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.217;initial catalog=TZ_CorporateOperations;user id=tz_app_user;password=Passw0rd1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="TrianzOperationsEntities" connectionString="metadata=res://*/Models.TrianzOperationsEntities.csdl|res://*/Models.TrianzOperationsEntities.ssdl|res://*/Models.TrianzOperationsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.144;initial catalog=TZ_CorporateOperations_Prod;user id=tz_appprod_user;password=Passw0rd1234;MultipleActiveResultSets=True;connect timeout=30;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  <add name="TrianzOperationsEntities" connectionString="metadata=res://*/Models.TrianzOperationsEntities.csdl|res://*/Models.TrianzOperationsEntities.ssdl|res://*/Models.TrianzOperationsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.0.220;initial catalog=TZ_CorporateOperations_Staging5;persist security info=True;connect timeout=120;user id=sa;password=P#$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <add name="ADOConnectionString" connectionString="data source=172.16.0.220;initial catalog=TZ_CorporateOperations_Staging4;user id=sa;password=P#$$w0rd;multipleactiveresultsets=True;connect timeout=30" />
  </connectionStrings>
 
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.webServer>
    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="UrlRoutingHandler" preCondition="integratedMode" verb="*" path="UrlRouting.axd" type="System.Web.HttpForbiddenHandler, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="HEAD" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Download-Options" value="noopen" />
        <add name="Content-Security-Policy" value="'self' https://ajax.googleapis.com" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubdomains=always" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>