@model IEnumerable<Trianz.Enterprise.Operations.ViewModel.FinanceContractorsDetails>
@{
    ViewBag.Title = "FinanceContractorsReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<style>
    /*.dropdown-menu{
        top:185px !important;
    }*/
    .datepicker-dropdown {
        top: 223px !important;
    }
      .body-content{
        min-height: 350px;
    }
</style>

<!-- Start: contractor report  -->
<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-12">
        <div class="subpage_header page-header nomargin-top">
            <div class="text-left pull-left">
                <p>Contractors Report</p>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>
</div>
<!-- End: contractor report  -->
<div class="form-group row">
    <div class="col-md-12 col-centered">
        <table cellpadding="4" cellspacing="4">
            <tr>
                <td>
                    <b>Start Date</b><span style="color:red">*</span>
                </td>
                <td style="width:5%;"></td>
                <td>
                    <input id="txteffectivestartdate" class="form-control col-lg-2" readonly type="text" style="width:100px;" />
                    <label for="date-picker-2" class="add-on" style="margin-top:5px">
                        <span class="glyphicon glyphicon-th" id="startdate"></span>
                        <a href="#" id="btnStartDateclean" title="clean" onclick="Clean('#txteffectivestartdate');"><span class='glyphicon glyphicon-remove' title="clean"></span></a>
                    </label>
                </td>
                <td style="width:15%;"></td>
                <td>
                    <b> End Date</b><span style="color:red">*</span>
                </td>
                <td style="width:5%;"></td>
                <td>
                    <input id="txteffectiveenddate" class="form-control col-lg-2" readonly type="text" style="width:100px;" />

                    <label for="date-picker-3" class="add-on" style="margin-top:5px">
                        <span class='glyphicon glyphicon-th' id="enddate"></span>
                        <a href="#" id="btnEndDateclean" title="clean" onclick="Clean('#txteffectiveenddate');"><span class='glyphicon glyphicon-remove' title="clean"></span></a>
                    </label>
                </td>
                <td style="width:15%;"></td>
                <td>
                    <input type="button" id="btnGenerateReport" value="GenerateContractorReport" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12">
    <div class="pull-right text-right myskills_div">
        <button id="btnExportToExcel" type="button" class="btn btn-default pull-left btn-primary" style="margin-top: -8px;">
            Export to Excel
        </button>
    </div>
    <div class="clear-both"></div>
</div>

<div id="divGridContent1" class="table table-responsive" style="margin-bottom: 0px;">

</div>
@*<div class="row" style="margin-bottom: 10px;">

        <div class="col-md-12">
            <div class="subpage_header page-header nomargin-top">
                <div class="text-left pull-left myskills_div">
                    <p>Contractor Report</p>
                </div>
                <div class="pull-right text-right myskills_div">
                    <button id="btnExportToExcel" type="button" class="btn btn-default pull-left btn-primary" style="margin-top: -8px;">
                        Export to Excel
                    </button>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>

    </div>*@
<script type="text/javascript">
    $(document).ready(function () {
        debugger
        //$('#txteffectiveenddate').datepicker('setDate', 'today');});
        //$('#txteffectiveenddate').datepicker({ defaultDate: new Date() });

        $('.myskills_div').hide();
        var nowDate = new Date();
        var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
        var backdate = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate()-30, 0, 0, 0, 0);
        $('#txteffectiveenddate').val($.datepicker.formatDate('mm/dd/yy', today));
        $('#txteffectivestartdate').val($.datepicker.formatDate('mm/dd/yy', backdate));
        $("#startdate").click(function () {
            $("#txteffectivestartdate").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: false,
                dateFormat: 'yy/mm/dd',
                showStatus: true,
                showWeeks: true,
                highlightWeek: true,
                numberOfMonths: 1,
                buttonImage: "calendar-icon.jpg",
                showAnim: "scale",
                endDate: today,


                showOptions: {
                    origin: ["top", "left"]
                }

            }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            });
            $('#txteffectivestartdate').datepicker('show');

        });
        $("#enddate").click(function () {
            //var now = new Date();
            //// set time to some convenient value
            //var monday = new Date(now);
            //monday.setDate((monday.getDate() - 28) - monday.getDay() + 1);

            $("#txteffectiveenddate").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: false,
                dateFormat: 'yy/mm/dd',
                showStatus: true,
                showWeeks: true,

                highlightWeek: true,
                numberOfMonths: 1,
                buttonImage: "calendar-icon.jpg",
                showAnim: "scale",
                endDate: today,
                showOptions: {
                    origin: ["top", "left"]
                }
            }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            });
            $('#txteffectiveenddate').datepicker('show');
        });
        var table = $('#Contractorsreportdiv table').DataTable(
          {
              "scrollY": "500",
              bPaginate: false
          }
          );

        // Apply the search
        $(".dataTables_filter").hide();
        $(".dataTables_length").hide();
        $(".dataTables_info").hide();
        //$(".dataTables_paginate").hide();
        $('.filter').on('keyup change', function () {
            debugger;
            //clear global search values

            table.column(1).search(this.value).draw();
        });

        $('#btnExportToExcel').click(function () {
            $(this).attr("disabled", "disabled");
            $(this).text('Downloading ...');

            selectedstartdate = $('#txteffectivestartdate').val();
            selectedenddate = $('#txteffectiveenddate').val();
            var IsValidated = CheckTaskValidations();

            if (IsValidated == true) {
                $.ajax({
                    url: "@Url.Action("ExportContractorsReport", "FinanceReports")",
                    data: { StartDate: selectedstartdate, EndDate: selectedenddate },
                    type: "POST",
                    datatype: "JSON",
                    success: function (data) {

                        window.location = '@Url.Action("GenerateContractorsReport", "FinanceReports")' + '?StartDate=' + selectedstartdate + '&EndDate=' + selectedenddate;

                        setTimeout(function () {
                            $("#btnExportToExcel").removeAttr("disabled").text('Export to Excel');
                        }, 5000);

                    },
                    error: function (error) {
                        alert(error.statusText);
                    }

                });
            }
            else {
                $("#btnExportToExcel").removeAttr("disabled").text('Export to Excel');
                //CleanValues();
            }
        });
    });
    function CheckTaskValidations() {
        var returnvalue = true;

        if ($("#txteffectivestartdate").val() == "") {
            alert("Please Select Start Date");
            returnvalue = false;
        }
        else if ($("#txteffectiveenddate").val() == "") {
            alert("Please Select End Date");
            returnvalue = false;
        }
        //else if ($("#txteffectivestartdate").val() != null && $("#txteffectiveenddate").val() != null &&
        //    $("#txteffectivestartdate").val() != "" && $("#txteffectiveenddate").val() != "") {

        if (Date.parse($("#txteffectivestartdate").val()) > Date.parse($("#txteffectiveenddate").val())) {
            alert("Start Date should be lessthan or equal to End Dates");
            returnvalue = false;
        }
        // }

        return returnvalue;
    }
    function Clean(e) {

        $(e).val('');
    }
    $("#btnGenerateReport").click(function () {
        debugger;
        busyContent()
        selectedstartdate = $('#txteffectivestartdate').val();
        selectedenddate = $('#txteffectiveenddate').val();


        var IsValidated = CheckTaskValidations();

        if (IsValidated == true) {
            debugger
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ContractorsSearchData", "FinanceReports")',
                data: { StartDate: selectedstartdate, EndDate: selectedenddate },
                success: function (data) {
                    debugger
                    HidebusyContent()
                    $('#divGridContent1').html(data);
                    var rowCount = $('#Contractorsreportdiv tbody tr').length;
                    if (rowCount > 0) {
                        $(".myskills_div").show();
                    }
                    else {
                        $(".myskills_div").hide();
                    }
                },
                failure: function (data) {
                    alert(data);
                }
            });
        }
        else {
            window.location.href = '@Url.Action("FinanceContractorsReport", "FinanceReports")';
            $("#btnExportToExcel").removeAttr("disabled").text('Export to Excel');
            //CleanValues();
        }

    });
</script>




