
@{
    ViewBag.Title = "MyNotification";
    @*Layout = "~/Views/Shared/_Layout.cshtml";*@
}

<h2>MyNotification</h2>


<script>
    $(document).ready(function () {


        $(function () {


            $.ajax({
                type: "POST",               
                url: '@Url.Action("MyNotifications", "Notifications")',
                success: function (result) {
                    // debugger;
                    if (result == true) {
                        $('#gridContainer').load(result);
                    }
                      else if (result == "Sessionexpired") {
                    window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }

                    
                       else if (result == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }

                    }
            });
        });
    });
</script>

<div id="gridContainer">
    @Html.Partial("_TRGrid")
</div>


