
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="panel panel-danger">
        <div class="panel-heading" style="background-color: white; color: #248cc8;">
            <strong>Signout</strong>
        </div>
        <div class="panel-body text-center">
            You signed out of your account. It's a good idea to close all browser windows.<br>
            Click <a href="~/signout/completed">here</a> to signin again.
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.left-nav').hide();
    });
</script>
