
@{
    ViewBag.Title = "Downloadactiveassignment";
}
<style>
    #txt {
        color: #133B93;
        font-size: 20px;
        /*font: normal normal medium 20px/45px Poppins;*/
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #337ab7;
        margin: 1em 0;
        padding: 0;
    }
</style>

<p id="txt">Download Assignments</p>
<hr />

@{
    var assignmentStatusFor_Excel = new List<SelectListItem>
{
  new SelectListItem { Text = "Active", Value="Active", Selected=true},
  new SelectListItem { Text = "All Assignment", Value="All" },
  new SelectListItem { Text = "Not Yet Started", Value="NotYet" },
};
}
<div class="col-md-6 col-sm-6 padding-left pull-left">
    @Html.DropDownList("Excel_assignmentStatus", assignmentStatusFor_Excel, new { @class = "form-control", Style = "width:150px", @onchange = "javascript:Excel_Assign(this.value);" })
</div>
<div class="col-md-6 col-sm-6 padding-left pull-right">

    @*<button id="btnExportToExcel" type="button" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i> Export to Excel</button>
        <button id="btnProcessing" type="button" class="btn btn-primary pull-left" disabled><i class="fa fa-cog fa-spin fa-1x fa-fw" aria-hidden="true"></i> Downloading...</button>*@


    <div>
        <button id="btnExportToExcel" type="button" style="border: none;background-color: white;margin-right: 3px;position: relative;
    top: -33px;"> <img src="~/Content/images/xlsimg.png" data-toggle="tooltip" data-placement="left" title="Export to Excel" class="xlms" style="width: 43px;height: 44px;display:inline-block;margin-top: -46px;position: relative;
    left: 493px;
}" alt="xlmsimg"></button>
    </div>
</div>
<br /><br /><br /><br />
<div class="col-md-6 col-sm-6 padding-left pull-left" id="date1" style="visibility:hidden;">
    <label class=" text-left" for="textinput">From Date</label>
    <div class='input-group date' id='datetimepicker1' style="width:250px;">
        <input type='text' name="FromDate" id="FromDate" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
<div class="col-md-6 col-sm-6 padding-left pull-left" id="date2" style="visibility:hidden;position: relative;
    left: -308px;">
    <label class=" text-left" for="textinput">To Date</label>
    <div class='input-group date' id='datetimepicker3' style="width:250px;">
        <input type='text' name="ToDate" id="ToDate" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>

</div>


<script type="text/javascript">

    nowDate = new Date();
    today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);

    $(document).ready(function () {
        $("#btnProcessing").hide();
        $('#btnExportToExcel').show();
        $('#datetimepicker1').datepicker({

            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom"
            //startDate: today
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });
        $('#datetimepicker3').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            startDate: today,
            orientation: "bottom"
            //format: 'dd/mm/yyyy',
        }).on('changeDate', function (e) {
            $(this).datepicker('hide');
        });

    })
    function Excel_Assign(Exceassign_value) {
        datepickr = document.getElementById('date1')
        datepickr2 = document.getElementById('date2')

        if (Exceassign_value == "All") {
            datepickr.style.visibility = "visible";
            datepickr2.style.visibility = "visible";
        }
        else {
            datepickr.style.visibility = "hidden";
            datepickr2.style.visibility = "hidden";
        }

    }
    $('#btnExportToExcel').click(function () {
        debugger;
        //$(this).hide();
        $("#btnProcessing").show();

        var practice = ($('#dlpr').length > 0) ? $('#dlpr').val() : "";
        var Project = ($('#ddlProject').length > 0) ? $('#ddlProject').val() : "";
        var BillingStatus = ($('#dlbls').length > 0) ? $('#dlbls').val() : "";
        var Accountna = ($('#ddlaccunt').length > 0) ? $('#ddlaccunt').val() : "";
        var assignment_all = $('#Excel_assignmentStatus').val();
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();

        $.ajax({
            url: "@Url.Action("ExportReport", "ProjectAssignment")",
            data: { strPractice: practice, strProject: Project, strBillingStatus: BillingStatus, strAccount: Accountna, Assignment_All: assignment_all, From_Date: fromDate, To_Date: toDate },
        type: "POST",
        datatype: "JSON",
        cache: false,
        success: function (response) {
            if (response == "success") {
            window.location = "@Url.Action("GenerateActiveProjectAssignment", "ProjectAssignment")" + "?strPractice=" + practice + "&&strProject=" + Project + "&&strBillingStatus=" + BillingStatus + "&&strAccount=" + Accountna + "&&Assignment_All=" + assignment_all + "&&From_Date=" + fromDate + "&&To_Date=" + toDate;



            setTimeout(function () {
            $("#btnExportToExcel").show();
            $("#btnProcessing").hide();
            }, 10000);
                }
            else if (response == "Sessionexpired") {
            window.location.href = '@Url.Action("SessionExpire", "Signout")';
                }
        },
        error: function (error) {
            alert(error.statusText);
        }
    });
    //}
    });

</script>
