@model IEnumerable<Trianz.Enterprise.Operations.Models.Error_Info>
@{
    ViewBag.Title = "ErrorDisplayView";
}

@{var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
                                                          selectionFieldName: "SelectedRow");
}

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="subpage_header page-header nomargin-top">
    <div class="col-md-6 col-sm-12 nopadding-left">
        <div class="clear-both space10">
        </div>
        <p>Errors List</p>
    </div>
    <div class="col-md-12 nopadding">
        <div id=" gridcontent" class="table table-responsive">
            @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
 fillEmptyRows: false,
 //headerStyle: "table",
 alternatingRowStyle: "alt",
 selectedRowStyle: "select",
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
 htmlAttributes: new { id = "DashboardGrid" },
 columns: grid.Columns(
 grid.Column("ErrorId", "Error Id", format:@<span id="errid" title=@item.ErrorId>@item.ErrorId</span>),
        grid.Column("Application", "Application"),
        grid.Column("Host", "Host"),
        grid.Column("Type", "Type"),
        grid.Column("Source", "Source"),
        //grid.Column("Message", "Message", format:@<span id="errmsg" title=@item.Message>@item.Message</span>),
        grid.Column("User", "User"),
        grid.Column("StatusCode", "StatusCode"),
        grid.Column("Details",format:@<text><div><input id="errmsg" value="@item.Message" hidden="hidden"/><input id="liMore" type="button" class="btn btn-link" value="More" /></div> </text>, style: "GridButtons")
    ))
        </div>
    </div>
</div>

@*<input type="text" id="txtID" readonly="readonly" />*@

<script type="text/javascript">
$(function(){

    $('.btn-link').on('click', function (e) {
        // debugger;
        e.preventDefault();
        var tr = $(this).parents('tr:first');
        //var tr = $('grid tr th:first');
        // id = $(this).prop('id');
        debugger;
        var _ErrCode = tr.find('#errid')[0].innerText;
        var _ErrMsg = tr.find('#errmsg')[0].value;
       
        //var _AppId = tr.find('#AppId')[0].innerText;
        var url = this.href;
        var dialog = $("#dialog");
        if ($("#dialog").length == 0) {
            
            dialog = $('<div id="dialog" style="display:hidden"><div class="row" style="overflow:hidden;"><input type="text" class="text-center col-sm-offset-4 text-danger" id="txtID" readonly="readonly" /><textarea id="txtremarks" readonly="readonly" class="form-control" style="height: 180px; width:95%"></textarea></div></div>').appendTo('body');
            $('#txtID').val("Error ID : "+_ErrCode);
            $('#txtremarks').val("Error Message :"+_ErrMsg);
        }

        dialog.dialog({
            close: function (event, ui) {
                dialog.remove();
            },
            modal: true,
            width: 600, resizable: true,
            height: 350,
            show: 'fade',
            title: 'Details Of Error',
            buttons: {
                "Close": function () {
                    $(this).dialog("close");
                },
            }
        });
    });
});
</script>

