@model IEnumerable<Trianz.Enterprise.Operations.Models.ChartData>
@using JQChart.Web.Mvc
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ResourceInformation";
    var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
        selectionFieldName: "SelectedRow");

    grid.Pager(WebGridPagerModes.All);
}
<link href="~/Content/Talento2.css" rel="stylesheet" />
<style>
    #txt {
        color: #2C2E31;
        font-size: 16px;
        margin-left: 18px;
        margin-top: 20px;
    }
    .HRRF_custom .subpage_header {
        width: 1250px;
    }
</style>
<div class="subpage_header page-header nomargin-top">

    <p id="txt">FULFILLMENT DASHBOARD</p>
</div>
<html>
<head>
    <title></title>
    <script src="~/Scripts/amcharts.js"></script>
    <script src="~/Scripts/pie.js"></script>
    <script src="~/Scripts/light.js"></script>
 


    @*<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
        <script src="https://www.amcharts.com/lib/3/pie.js"></script>
        <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>*@
    <style>
        #chartdiv {
            width: 100%;
            height: 575px;
            font-size: 11px;
        }
        body {
            overflow-x: hidden;
        }
        .questionlogo1 {
            margin-left: 476px;
            margin-top: -9px;
        }

        .onlinebtn {
            margin-left: 434px;
            position: relative;
            top: 26px;
        }
        .amcharts-pie-slice {
            transform: scale(1);
            transform-origin: 50% 50%;
            transition-duration: 0.3s;
            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            cursor: pointer;
            box-shadow: 0 0 30px 0 #000;
        }

            .amcharts-pie-slice:hover {
                transform: scale(1.1);
                filter: url(#shadow);
            }

        #divLoadingIcon {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background: url('../../Content/images/ajax-loader.gif')no-repeat center center;
        }
    </style>
</head>
<body>
    <div>

        @*<table class="table">

                <tr>
                    <td>
                        @(Html.JQChart()
                    .Chart(Model)
                    .ID("jqChart")
                    .Width(1000)
                    .Height(500)
                    .Title("FulFilMent DashBoard")
                    .Legend(legend => legend.Title("Parameters"))
                    .Border(border => border.StrokeStyle("#6ba851"))
                    .Background(background => background.LinearGradient(0, 1, 0, 1).ColorStops(stop =>
                    {
                        stop.Add(0, "#d2e6c9");
                        stop.Add(1, "white");
                    }))
                    .Animation(TimeSpan.FromSeconds(1))
                    .Shadows(true)
                    .Series(series =>
                    {
                        series.Pie()
                              .ExplodedRadius(-1)
                              .FillStyles(new object[] { "#7a9513", "#66ccdc", "#d9a21c", "#056492", "#390a0a", "#1A3B69", "#f6546a", "#aa7174", "#728f99", "#b2d91c", "#c0d6e4", "#cdc0b0", "#d9431c" })
                              .DataLabels(el => el.Label)
                              .DataValues(el => el.Value1)
                              .ExplodedSlices(new object[] { 12 })
                              .Labels(label => label.Font("10px sans-serif")
                                                    .ValueType((LabelValueType.DataValue))
                                                    .FillStyle(System.Drawing.Color.White)

                                                    )
                             .ShowInLegend(true)
                             .ShowInScene(true);

                    }
                    )
                    .Render()
                        )


                    </td>

                </tr>

            </table>*@
        <div id="chartdiv"></div>
        <div id="divLoadingIcon"></div>
    </div>

    @*<script lang="javascript" type="text/javascript">
            $(document).ready(function () {
                $('#jqChart').bind('axisLabelCreating', function (event, data) {
                    debugger;
                    if (data.context.axis.location == 'left') {
                        data.text = '$' + addCommas(data.text);
                    }
                });
                $('#jqChart').bind('tooltipFormat', function (e, data) {
                    var percentage = data.series.getPercentage(data.value);
                    percentage = data.chart.stringFormat(percentage, '%.2f%%');

                    return '<b>' + data.dataItem[0] + '</b><br />' +
                               data.value + ' (' + percentage + ')';
                });
            });

        </script>*@
    <script>
        $(document).ready(function () {



            $.ajax({
                url: '@Url.Action("FulfilmentDashBoardPieChart", "ResourceDashBoard")',
                data: "",
                type: 'GET',
                datatype: "JSON",
                contentType: 'application/json; charset=utf-8',
                cache: false,
                beforeSend: function () {
                    $("#divLoadingIcon").show();
                },
                success: function (result) {
                    debugger;
                    if (result != null && result !="Sessionexpired" && result !="Error") {
                        $("#divLoadingIcon").hide();
                        var chart = AmCharts.makeChart("chartdiv", {
                            "type": "pie",
                            "startDuration": 0,
                            "theme": "light",
                            "addClassNames": true,
                            "legend": {
                                "position": "right",
                                "marginRight": 100,
                                "autoMargins": false
                            },
                            "innerRadius": "30%",
                            "defs": {
                                "filter": [{
                                    "id": "shadow",
                                    "width": "200%",
                                    "height": "200%",
                                    "feOffset": {
                                        "result": "offOut",
                                        "in": "SourceAlpha",
                                        "dx": 0,
                                        "dy": 0
                                    },
                                    "feGaussianBlur": {
                                        "result": "blurOut",
                                        "in": "offOut",
                                        "stdDeviation": 5
                                    },
                                    "feBlend": {
                                        "in": "SourceGraphic",
                                        "in2": "blurOut",
                                        "mode": "normal"
                                    }
                                }]
                            },
                            "dataProvider": result,
                            "valueField": "Value1",
                            "titleField": "Label",

                            "export": {
                                "enabled": false
                            }
                        });
                        $("a[href='http://www.amcharts.com/javascript-charts/']").css("display", "none");
                        chart.addListener("init", handleInit);

                        chart.addListener("rollOverSlice", function (e) {
                            handleRollOver(e);
                        });
                        function handleInit() {
                            chart.legend.addListener("rollOverItem", handleRollOver);
                        }

                        function handleRollOver(e) {
                            var wedge = e.dataItem.wedge.node;
                            wedge.parentNode.appendChild(wedge);
                        }
                    }
                    else if (result == "Sessionexpired") {
                        window.location.href = '@Url.Action("SessionExpire", "Signout")';
                    }
                    else if (result == "Error")
                    {
                        window.location.href = '@Url.Action("Error","Error")';
                    }
                },
                error: function (error) {
                    $("#divLoadingIcon").hide();
                    alert(JSON.stringify(error));
                }
            });


        });
    </script>
</body>
</html>