@model IEnumerable<Trianz.Enterprise.Operations.ViewModel.ResourceDashboardViewModel>

@{
    ViewBag.Title = "ResourceDashboardChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Talento2.css" rel="stylesheet" />


<div class="subpage_header page-header nomargin-top">
    <p id="txt">RESOURCE DASHBOARD</p>
</div>

<style>
    body {
        overflow-x: hidden;
    }

    .questionlogo1 {
        margin-left: 476px;
        margin-top: -9px;
    }

    .onlinebtn {
        margin-left: 434px;
        position: relative;
        top: 26px;
    }
    #txt {
        font-size: 16px;
        margin-left: 20px;
        margin-top: 20px;
        color: #2C2E31;
    }
    .HRRF_custom .subpage_header {
        width: 1250px;
    }
</style>
<table class="table table-bordered" style="background-color:#D6DCE3">
    <thead>


        <tr>
            <td rowspan="2"> <label style="color:black"> Head Count </label></td>
            @foreach (var item1 in Model)
            {
                <td>
                    <label style="color:black">@item1.Label</label>

                </td>
            }
        </tr>

    </thead>

    <tbody style="background-color: white;">
        <tr>
            <td rowspan="2">@Model.Sum(i => i.Value1)</td>
            @foreach (var item in Model)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Value1)
                </td>
            }
        </tr>
    </tbody>


</table>
<br />
<br />
<div style="align-content:center">
    @using JQChart.Web.Mvc

    @(Html.JQChart()
                                                .Chart(Model)
                                                .ID("barchart")
                                                .Width(1000)
                                                .Height(600)
                                                .Title("Resource DashBoard")
                                     .Background(background => background.LinearGradient(0, 0, 0, 1).ColorStops(stop =>
                                     {
                                         stop.Add(0, "#d2e6c9");
                                         stop.Add(1, "white");
                                     }))

                                                  .Series(series =>
                                                  {
                                                      series.Column()


                                                            .XValues(el => el.Label)
                                                            .YValues(el => el.Value1)
                                                            .ShowInLegend(false)

                                                            .FillStyles(new object[] { "#418CF0", "#FCB441", "#E0400A", "#056492", "#BFBFBF", "#1A3B69", "#FFE382" });

                                                  }
                                                )
                                        .Render()
    )

</div>