@model System.Web.Mvc.HandleErrorInfo
@*<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" />*@
<link href="~/Content/LayoutHeader.css" rel="stylesheet" />
<style>
    .navbar-nav > li > .dropdown-menu {
        margin-top: 21px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        z-index: 100000;
        margin-top: 2px;
    }
    .HRRF_custom .navbar {
        position: relative;
        height: 44px;
        top: -10px;
    }
    #MenuTrianzOperations {
        margin-top: -2px;
    }
    #MenuEmployee {
        position: relative;
        top: -2px;
    }

    #MenuApprovals {
        position: relative;
        top: -2px;
    }

    #report1 {
        position: relative;
        top: 17px;
    }

    #assignment1 {
        position: relative;
        top: 17px;
    }

    #dashboard1 {
        position: relative;
        top: 20px;
    }
    .HRRF_custom .navbar {
        position: relative;
        top: 20px;
    }
    #competency1 {
        position: relative;
        top: 20px;
    }
    #MenuSignout {
        position: relative;
        top: 15px;
    }
    #MenuCluster {
        position: relative;
        top: -2px;
    }
</style>
<div>
    @*<h1 class="text-danger">Error.@Model.Exception.Message</h1>*@
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <div>
        Please Click Here to  <a href="~/TrHome/Index" class="btn btn-default">SignIn</a>
    </div>
</div>
@*@Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)*@