@{
    ViewBag.Title = "Page not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-danger">
    <div class="panel-heading" style="background-color: white; color: #248cc8;">
        <strong>Page Not Found</strong>
    </div>
    <div class="panel-body">
        <div class="col-lg-3" style="border-right: 1px solid silver;">
            <img src="~/content/images/404.png" alt="Page not found">
        </div>
        <div class="col-lg-9" style="padding-top: 15px;">
            <h3 class="text-danger">
                <strong>
                    We are sorry, the page you requested cannot be found.<br>
                    The URL may be misspelled or the page you're looking for is no longer available.<br>
                    <br>

                    Click <a href="/trhome" class="text-danger">here</a> to go to home page.
                </strong>
            </h3>
        </div>
    </div>
</div>