@model IEnumerable<Trianz.Enterprise.Operations.Models.ProposeAssociate>
   @{var grid = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 10,
                                                    selectionFieldName: "SelectedRow");
}
@{
    ViewBag.Title = "Index";
   
}

<style>
    .empid {
        width: 6%;
    }

    .Request {
        width: 8%;
    }

    .Project {
        width: 15%;
    }

    .Remarks {
        width: 20%;
    }

    .Grade {
        width: 5%;
    }

    .HRRF_custom #gridcontent {
        height: 100%;
    }
</style>

    <div class="subpage_header page-header nomargin-top">
        <div class="col-md-6 col-sm-12 nopadding-left">
            <div class="clear-both space10"></div>
            <p>Proposed Resources</p>
         </div>
        <div class="col-md-6 col-sm-12 nopadding-right">
            <div>

                @using (Html.BeginForm("ProposedResourcesView", "ProposedResources", FormMethod.Get))
                {
                   
                           
                            <div class="col-md-2 col-sm-12 nopadding-right pull-right">
                                <input class="btn btn-primary" type="submit" value="Search" />
                            </div>
                            <div class="col-md-4 col-sm-12 nopadding-right pull-right">
                                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Enter Employee Id" })
                            </div>
                            <div class="col-md-3 col-sm-12 nopadding-right pull-right">
                                @Html.DropDownList("ddlStatus", new SelectList((System.Collections.IEnumerable)ViewData["Status"]),
                                    "-- Status --", new { @class = "form-control", onchange = "submit();" })
                            </div>
                 
                }
            </div>
        </div>
        <div class="clear-both space5"></div>
        </div>
   
   

<div class="col-md-12 nopadding">
    <div id=" gridcontent" class="table table-responsive">
        @grid.GetHtml(tableStyle: "table table-bordered table-striped p-resources",
        fillEmptyRows: false,
        //headerStyle: "table",
        alternatingRowStyle: "alt",
        selectedRowStyle: "select",
        mode: WebGridPagerModes.All,
        firstText: "<< First",
        previousText: "< Prev",
        nextText: "Next >",
        lastText: "Last >>",
        htmlAttributes: new { id = "DashboardGrid" },
        columns: grid.Columns(
        //grid.Column("ProposedID", "ID"),
        grid.Column("HRRFNumber", "HRRF No.",style: "Request"),
        grid.Column("EmpID", "Emp ID",style: "empid"),
        grid.Column("EmpName", "Emp Name"),
        grid.Column("ProjectName", "Project",style: "Project"),
        grid.Column("Grade", "Grade",style: "Grade"),
        grid.Column("PracticeStatus", "Status"),
        grid.Column("PracticeRemarks", "Remarks",style: "Remarks"),
        grid.Column("ProposedBy", "Proposed By")
        //grid.Column("ApprovedBy", "Approved By")
    ))
    </div>
</div>
<div class="col-md-3 col-sm-12 nopadding-right pull-right">
    <button type="button" id="btnExport" name="btnExport" href="#" onclick="location.href='@Url.Action("GetExcel", "ProposedResources")'" title="exporttoexcel" class="btn btn-default btn-sm btn-excel">

        <i class="glyphicon glyphicon-export"></i>
        Export To Excel
    </button>
</div>



